# Local .terraform directories
**/.terraform/*
.terraform.*
# .tfstate files
*.tfstate
*.tfstate.*

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

.terragrunt-cache